body {
  background-color: #F6F1F7;
}

.container {
  margin: 20px;
}

.profile {
  display: flex;
}

.profile-container {
  width: 40%;
  margin-right: 20px;
  border-right: solid;
  border-width: thin;
  padding: 10px;
}

.profile-container img {
  width: 100%;
  border-radius: 50%;
}

.bio {
  width: 100%;
}

.bio p {
  text-align: justify;
}